form{
  text-align: center;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
 
}

h1{
  text-align: center;
}


/* Reference:https://css-tricks.com/equidistant-objects-with-css/ */